@import "~bootstrap/scss/functions";
@import "./bs/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/bootstrap";

// .bs-5 {
//     @import "~bootstrap/scss/bootstrap";
// }